* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.right-side .title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.main {
    text-align: center;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    grid-column: 2 / 3;
    background-color: lightgrey;
    padding: 15px;
}

.header {
    grid-column: 1 / 3;
}

.sidebar {
    grid-column: 1 / 2;
}

.main .article .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    text-align: left;
}

.main .article {
    grid-column: 1 /2;
    grid-row: 1/3;
}

.main .announcements {
    grid-column: 2 /3;
    grid-row: 1 /2;
    color: black;
    text-align: left;
    font-size: 12px;
}

.main .announcements .announce-container {
    background-color: white;
    padding: 15px;
}


.main .trending {
    grid-column: 2 /3;
    grid-row: 2/3;
    color: black;
    background-color: white;
}

.article .card {
  background-color: white;
  color: black;
  padding: 15px;
}